<div id="content-header">
  <img src="/images/announcement/add_news/add_news_logo.jpg" />
  <h1>Add News</h1>
  <h3>Publish school news</h3>
  <div id="app-back-button">
	<%= link_to image_tag("/images/buttons/back.png", :border => 0), :back %>
  </div>
</div>

<div id="page-yield">

  <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>

  <% form_for :news do |f| %>

    <%= error_messages_for :news %>

    <div id="add_news_form">
      <div class="news_label_field">
        <label for="title">Title</label>
        <div id="news_title_text_field_bg"><%= f.text_field :title %></div>
      </div>

      <div class="news_label_field">
        <label for="news_content">Content</label>
        <div id="news_content_text_field_bg"><%= fckeditor_textarea :news, :content %></div>
      </div>
    </div>

    <%= image_submit_tag "/images/buttons/publish_news.png", :class => "news_publish_button" %>

  <% end %>

</div>