<div id="content-header">
  <img src="/images/user_profile/user_profile_logo.jpg" />
  <h1>User Privileges</h1>
  <h3>Edit Privilege</h3>
  <div id="app-back-button">
    <%= link_to image_tag("/images/buttons/back.png", :border => 0), :back %>
  </div>
</div>


<div class="label_field_pair"><label>Set privileges for <%= @user.first_name.capitalize+" "+@user.last_name.capitalize %></label></div>
<div id="list_content">
  <div id="list">
   
    <% form_for :user do |form| %>
      <% for privilege in Privilege.find(:all) %>
        <div class="name_list"><li>
            <label><%= check_box_tag "user[privilege_ids][]", privilege.id, @user.privileges.include?(privilege)%>
            <div class="att_list_names"> <%= privilege.name.underscore.gsub(/_/, ' ').capitalize %> </div> </label>
        </li></div>
      <% end %>
      <div class="user_submit_button1">
        <%= image_submit_tag "/images/buttons/update.png", :name => "commit", :value => "submit_att" %>
      </div>
    <% end %>
  </div>
</div>